# Python
.venv/
__pycache__/
*.pyc
.pytest_cache/

# Data
data/raw/
data/processed/

# MLflow runs
mlruns/

# Credentials
.kaggle/
kaggle.json
.env

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/
.coverage
